.button {
    max-width: 120px;
    position: relative;
    margin: 1%;
    padding: 1rem;
    text-align: right;
    background-color: rgb(124, 227, 181);
    border-color: rgb(78, 76, 76);
    float: right;
    }